html,
body {
	font-family: Arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1 {
	color: #525454;
	font-size: 22px;
	text-align: center;
}

#map {
	bottom:0px;
	height: 100vh;
	right: 0px;
}

#marker-title {
	font-weight: bold;
}

#infobox {
	width: 250px;
}

#pano {
	height: 250px;
}

#articles {
	width: 250px;
}

.text {
	font-size: 12px;
}

@media (min-width: 1px, max-width: 991px) {
    .navbar {
        display: block;
    }
}

@media (min-width: 992px) {
    .navbar {
        display: none;
    }
}
